/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*Shared Styles*/
main{
    max-width:1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

/*dark 2*/
.text-gray{
    color: #424242;
}

/*Customize Orange*/
#text-3-design{
    font-weight:700;
    color:#FF900E;
}

/*dark 3*/
.text-light-gray{
    color:#727272;
}

/*dark 4*/
.text-black{
    color:#131313;
}

.section-title{
    font-size: 2.8rem;   
    font-weight: 700;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}

.btn-primary:hover{
    background-color: #4ec420;
    transition: 2s;
}

.common-description{
    font-size:1rem;
}

/*header background color*/
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}

/*header Styles*/

/*navbar related styles*/
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight:700;
    font-size:3rem;
}

.nav-items{
    list-style-type: none;
    margin-right: 35px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/*banner related styles*/
.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size:4rem;
}

.banner-image{
    width: 100%;
    padding-bottom: 40px;
}

/*Features Section*/
.team-features{
    max-width: 1318px;
    align-items: center;
    margin: 85px auto;
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap:24px;
}

.Features{
    margin-left:110px;
    max-width: 535px;
}

#text-1-design{
    font-weight:500;
}

#text-2-design{
    font-weight:700;
    color:#FF900E;
}

/*Responsive Media Query For Mobile Device*/
@media screen and (max-width:576px){
    .navbar, 
    .nav-links, 
    .team-features
    {
        flex-direction: column;
    } 

    .team-image{
        grid-template-columns: repeat(1, 1fr);
    }

    .Features{
        margin: 0 auto;
        text-align: center;
    }

}

@media screen and (min-width:577px) and (max-width:992px){
    .team-features{
        flex-direction: column;
     }

    .Features{
        margin: 0 auto;
        text-align: center;
    }
}



/*Features Section: using grid area - Technique 2*/
/* .features-description{
    max-width: 537px;
    font-size: 2.8 rem;
}

#text-1-design{
    font-weight:500;
}

#text-2-design{
    font-weight:700;
}

#text-3-design{
    font-weight:700;
    color:#FF900E;
}


#image-1{
    grid-area:image-1;
}

#image-2{
    grid-area:image-2;
}

#image-3{
    grid-area:image-3;
}

#image-4{
    grid-area:image-4;
}

.features-description{
    grid-area:features-description;
    align-self:center;
    justify-self: center;  
}

.features{
    max-width: 1368px;
    margin: 80px auto;
    gap:24px;
    display: grid;
    grid-template-areas:
        "image-1 image-2 features-description "
        "image-3 image-4 features-description "
        ;
} */

/*Responsive Media Query*/
/*For Mobile Device*/

/* @media screen and (max-width:576px){
    .navbar, .nav-links {
        flex-direction: column;
    } 

    .features{
        place-items: center; 
        text-align: center; 
        
        grid-template-areas:
        "image-1"
        "image-2"
        "image-3"
        "image-4"
        "features-description"
        ;
        
    }

} */

/* @media screen and (min-width:577px) and (max-width:992px){

    
    #image-1,
    #image-2,
    #image-3,
    #image-4,
    .features-description{
        grid-area: unset;
    }

    
    .features{
        display:flex;
        flex-direction: column;
        gap: 40px;
    }

   
    .all-img{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .all-img img{
        width:100%;
        height:auto;
    } 
} */





